USE [HMS_V_2_Renuuku1]
GO
/****** Object:  Table [dbo].[tbl_AdminPriceList]    Script Date: 01/28/2017 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_AdminPriceList](
	[PriceId] [int] IDENTITY(1,1) NOT NULL,
	[Particulars] [varchar](max) NOT NULL,
	[ParticularType] [varchar](20) NOT NULL,
	[DepartmentId] [int] NULL,
	[Price] [decimal](13, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NULL,
	[Doctor_Price] [decimal](16, 2) NULL,
 CONSTRAINT [PK_tbl_AdminCostSettings] PRIMARY KEY CLUSTERED 
(
	[PriceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_AdminPriceList] ON
INSERT [dbo].[tbl_AdminPriceList] ([PriceId], [Particulars], [ParticularType], [DepartmentId], [Price], [CreatedDate], [CreatedById], [ModifiedDate], [ModifiedById], [IsActive], [Doctor_Price]) VALUES (1, N'Absolute Lymphocyte Count', N'Laboratory', NULL, CAST(100.00 AS Decimal(13, 2)), CAST(0x0000A709012A2F9F AS DateTime), 1, NULL, NULL, 1, CAST(70.00 AS Decimal(16, 2)))
INSERT [dbo].[tbl_AdminPriceList] ([PriceId], [Particulars], [ParticularType], [DepartmentId], [Price], [CreatedDate], [CreatedById], [ModifiedDate], [ModifiedById], [IsActive], [Doctor_Price]) VALUES (2, N'Acid Phosphatase', N'Laboratory', NULL, CAST(200.00 AS Decimal(13, 2)), CAST(0x0000A709012A2FC1 AS DateTime), 1, NULL, NULL, 1, CAST(100.00 AS Decimal(16, 2)))
INSERT [dbo].[tbl_AdminPriceList] ([PriceId], [Particulars], [ParticularType], [DepartmentId], [Price], [CreatedDate], [CreatedById], [ModifiedDate], [ModifiedById], [IsActive], [Doctor_Price]) VALUES (3, N'ADA', N'Laboratory', NULL, CAST(350.00 AS Decimal(13, 2)), CAST(0x0000A709012A2FCB AS DateTime), 1, NULL, NULL, 1, CAST(220.00 AS Decimal(16, 2)))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[tbl_AdminPriceList] OFF
/****** Object:  Default [DF_tbl_AdminCostSettings_CreatedDate]    Script Date: 01/28/2017 18:07:16 ******/
ALTER TABLE [dbo].[tbl_AdminPriceList] ADD  CONSTRAINT [DF_tbl_AdminCostSettings_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_tbl_AdminCostSettings_IsActive]    Script Date: 01/28/2017 18:07:16 ******/
ALTER TABLE [dbo].[tbl_AdminPriceList] ADD  CONSTRAINT [DF_tbl_AdminCostSettings_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
